h1{
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 25px;
}

input{
    width: 100%;
}

.ttu-row{
    margin: 10px 5px;
}

.todo-list{
    text-align: left;
}

.ttu-btn{
    min-width: 80px;
}